<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />

    <link href="~/Content/js/baguetteBox/css/baguetteBox.min.css" rel="stylesheet" />
    <link href="~/Content/js/baguetteBox/css/thumbnail-gallery.css" rel="stylesheet" />
    <script src="~/Content/js/baguetteBox/js/baguetteBox.min.js"></script>

    <link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
    <script src="~/Content/js/select2/select2.min.js"></script>

    <script src="~/Content/js/common.js"></script>
    <link href="~/Content/js/iCheck/skins/all.css" rel="stylesheet" />

    <script src="~/Content/js/iCheck/icheck.min.js"></script>

    <script src="~/Content/js/layer/layer.js"></script>
</head>
<body>
    <div id="areascontent">
        <div class="rows" style="margin-bottom: 1px; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-hdd-o fa-lg" style="padding-right: 5px;"></i>盘符选图
                    <div style="float: right; position: relative; top: -4px; right: 0px;">
                        <p style="margin-top:5px">当前选择盘符：<span id="currentFolder" data-id=""></span></p>

                    </div>
                </div>
                <div id="dashboardlst" class="panel-body">
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #fc8675;">
                            <h4 class="m-top-none">C盘</h4>
                            <h5>磁盘空间：40GB</h5>
                            <div class="stat-icon">
                                <i class="fa fa-hdd-o fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #6bafbd;">
                            <h4 class="m-top-none">D盘</h4>
                            <h5>磁盘空间：130GB</h5>
                            <div class="stat-icon">
                                <i class="fa fa-hdd-o fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #f3ce85;">
                            <h4 class="m-top-none">E盘</h4>
                            <h5>磁盘空间：120GB</h5>
                            <div class="stat-icon">
                                <i class="fa fa-hdd-o fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #949FB1;">
                            <h4 class="m-top-none">F盘</h4>
                            <h5>磁盘空间：120GB</h5>
                            <div class="stat-icon">
                                <i class="fa fa-hdd-o fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #65cea7; margin-right: 0px;">
                            <h4 class="m-top-none">H盘</h4>
                            <h5>磁盘空间：4GB</h5>
                            <div class="stat-icon">
                                <i class="fa fa-hdd-o fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="margin-bottom: 1%; overflow: hidden;">
            <div style="float: left; width: 80%;">
                <div style=" border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-picture-o fa-lg" style="padding-right: 5px;"></i>图片列表
                            <div style="float: right;font-size:14px">
                                <input tabindex="5" type="checkbox" id="chkall">
                                <label for="chkall">全选</label>

                                <a id="NF-upload" style="margin-left:20px" class="btn btn-default btn-xs dropdown-text" onclick="btn_add()"><i class="fa fa-cloud-upload"></i> 导入图片</a>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="htmleaf-container">
                                <div class="container gallery-container">
                                    <div class="tz-gallery">

                                        <div id="imglst" class="row">

                                            @*<div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/park.jpg">
                                                            <img src="/Content/js/baguetteBox/images/park.jpg" alt="Park">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <p>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox">选择
                                                                    </label>
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/bridge.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/bridge.jpg" alt="Bridge">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/tunnel.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/tunnel.jpg" alt="Tunnel">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/coast.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/coast.jpg" alt="Coast">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/rails.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/rails.jpg" alt="Rails">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/traffic.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/traffic.jpg" alt="Traffic">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/park.jpg">
                                                            <img src="/Content/js/baguetteBox/images/park.jpg" alt="Park">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <p>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox">选择
                                                                    </label>
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/bridge.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/bridge.jpg" alt="Bridge">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/tunnel.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/tunnel.jpg" alt="Tunnel">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/coast.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/coast.jpg" alt="Coast">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/rails.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/rails.jpg" alt="Rails">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="thumbnail">
                                                        <a class="lightbox" href="/Content/js/baguetteBox/images/traffic.jpg">
                                                            <img src="~/Content/js/baguetteBox/images/traffic.jpg" alt="Traffic">
                                                        </a>
                                                        <div class="caption">
                                                            <h3>Thumbnail label</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">选择
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@


                                            <div style="clear:both ">

                                            </div>
                                        </div>

                                        <button type="button" id="btnMore" class="btn" style="width:100%;margin-top:10px">加载更多</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 20%;">
                <div style="height: 380px; border: 1px solid #e6e6e6; background-color: #fff; padding-bottom:10px">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-pie-chart fa-lg" style="padding-right: 5px;"></i>图片类别</div>
                        <div class="panel-body" style="padding-top: 20px;">
                            <div class="biaoqian" style="text-align: center; padding-top: 20px;">

                                @*<a class="btn btn-info btn-xs" href="#" role="button" data-id="1">东北菜</a>
                                    <a class="btn btn-primary btn-xs" href="#" role="button" data-id="2">宁波菜</a>
                                    <a class="btn btn-success btn-xs" href="#" role="button" data-id="3">川湘菜</a>
                                    <a class="btn btn-info btn-xs" href="#" role="button" data-id="4">广东粤菜</a>
                                    <a class="btn btn-warning btn-xs" href="#" role="button" data-id="5">海鲜</a>
                                    <a class="btn btn-danger btn-xs" href="#" role="button" data-id="6">火锅</a>

                                    <a class="btn btn-info btn-xs" href="#" role="button" data-id="7">串串香</a>
                                    <a class="btn btn-primary btn-xs" href="#" role="button" data-id="8">徽菜</a>
                                    <a class="btn btn-success btn-xs" href="#" role="button" data-id="9">面点</a>
                                    <a class="btn btn-warning btn-xs" href="#" role="button" data-id="10">野味</a>*@

                            </div>

                            <div style="margin-top: 20px; padding-top: 18px; height: 60px; border-top: 1px solid #e6e6e6;">
                                <select id="selCategory" name="selCategory" class="select2 form-control">
                                    <option value="">==请选择类别==</option>
                                    @*<option value="" selected="selected">请选择类别</option>
                                        <option value="1">东北菜</option>
                                        <option value="2">宁波菜</option>
                                        <option value="3">川湘菜</option>
                                        <option value="4">广东粤菜</option>
                                        <option value="5">海鲜</option>
                                        <option value="6">火锅</option>
                                        <option value="7">串串香</option>
                                        <option value="8">徽菜</option>
                                        <option value="9">面点</option>
                                        <option value="10">野味</option>*@
                                </select>
                                <div style="margin-top:10px">
                                    <input tabindex="5" type="checkbox" id="chksynchro">
                                    <label for="chksynchro"> 是否同步</label>
                                </div>

                                <button type="button" id="btnOK" class="btn btn-info" style="width:100%;margin-top:20px">归类</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        .dashboard-stats {
            float: left;
            width: 20%;
        }

        .dashboard-stats-item {
            position: relative;
            overflow: hidden;
            color: #fff;
            cursor: pointer;
            height: 85px;
            margin-right: 25px;
            margin-bottom: 10px;
            padding: 20px 20px;
        }

            .dashboard-stats-item .m-top-none {
                margin-top: 2px;
            }

            .dashboard-stats-item h2 {
                font-size: 35px;
                font-family: inherit;
                line-height: 1.1;
                font-weight: 500;
            }

            .dashboard-stats-item h5 {
                font-size: 14px;
                font-family: inherit;
                margin-top: 3px;
                line-height: 1.1;
            }


            .dashboard-stats-item .stat-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                opacity: .3;
            }

        .dashboard-stats i.fa.stats-icon {
            width: 50px;
            padding: 20px;
            font-size: 50px;
            text-align: center;
            color: #fff;
            height: 50px;
            border-radius: 10px;
        }

        .panel-default {
            border: none;
            border-radius: 0px;
            margin-bottom: 0px;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

            .panel-default > .panel-heading {
                color: #777;
                background-color: #fff;
                border-color: #e6e6e6;
                padding: 10px 10px;
            }

            .panel-default > .panel-body {
                padding: 10px 10px 15px 10px;
            }

                .panel-default > .panel-body ul {
                    overflow: hidden;
                    padding: 0;
                    margin: 0px;
                    margin-top: -5px;
                }

                    .panel-default > .panel-body ul li {
                        line-height: 27px;
                        list-style-type: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                        .panel-default > .panel-body ul li .time {
                            color: #a1a1a1;
                            float: right;
                            padding-right: 5px;
                        }


        .caption label {
            font-size: 14px;
        }

        .tz-gallery {
            padding: 10px;
        }

        .biaoqian a {
            margin-bottom: 5px;
        }


        .checkbox, .radio {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .tz-gallery .caption h3 {
            /*padding-left: 17px;*/
        }

        .caption {
            cursor: pointer;
            height: 72px;
        }



        .fname {
            width: 100%;
            /*margin-left: 24px;*/
            display: none;
            line-height: 26px;
            height: 26px;
            margin-bottom: 10px;
        }
    </style>

    <script type="text/javascript">

        var currpage = 1;//默认当前第一页

        var arrcolor1 = ["#fc8675", "#6bafbd", "#f3ce85", "#949FB1", "#65cea7"];
        var arrcolor2 = ["info", "primary", "success", "danger", "warning"];

        $(function () {

            //类别绑定
            $("#selCategory").bindSelect({
                url: "/SystemManage/ItemsData/GetSelectJson",
                param: { enCode: "Category" }
            });

            //初始化select2控件
            $("#selCategory").select2();

            //加载本机盘符
            loadDist();

            //加载标签
            loadBiaoqian();

            //绑定标签点击事件
            $(".biaoqian a").bind("click", function () {
                var id = $(this).data("id");
                $("#selCategory").val(id).trigger("change");
                areaObj.change();
            });

            //绑定归类点击事件
            $("#btnOK").bind("click", function () {
                var dash = $("#currentFolder").text();//获取当前盘符
                var category = $("#selCategory").val();//图片分类
                var cvalue = $("#selCategory").find("option:selected").text();//分类值
                var count = $("#imglst :checkbox:checked").length;
                var synchro = "";
                if ($("#chksynchro").is(':checked')) {
                    synchro = 'True';
                }

                if ($.trim(category) == "") {
                    $.modalMsg('请选择图片类别', 'warning');
                    return;
                }
                if ($("#imglst :checkbox:checked").length <= 0) {
                    $.modalMsg('请选择图片', 'warning');
                    return;
                }
                //获取选中集合转成json
                var selectedData = [];
                $("#imglst :checkbox:checked").each(function () {
                    var $this = $(this).parents(".caption").children("h3");
                    var nick = $this.attr("title");//文件昵称
                    var type = $this.data("type");//文件类型
                    var size = $this.data("size");//文件大小
                    var fullname = $this.data("fullname");
                    selectedData.push({ filename: fullname, filetype: type, filesize: size, filenick: nick });//加入数组
                });
                var dat = JSON.stringify(selectedData);

                $.ajax({
                    url: "/Canchong/PicHourse/FnFile",
                    data: { dash: dash, category: category, dat: dat, cvalue: cvalue, synchro: synchro },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $.modalMsg('归档成功', 'success');
                        //重新加载该盘符图片
                        currpage = 1;//初始化分页
                        getImgLst(true);//加载该盘符下所有图片
                    }
                });

            });

            //加载更多
            $("#btnMore").bind("click", function () {
                currpage = currpage + 1;
                getImgLst(false);//加载更多图片
            });

            //绑定盘符点击事件
            $(".dashboard-stats").bind("click", function () {
                var $this = $(this);
                var current = $this.find(".m-top-none").text();

                $("#currentFolder").text(current).data("id", $this.attr("id"));
                currpage = 1;//初始化分页
                getImgLst(true);//加载该盘符下所有图片
            });

            //二次加载的js
            loadAgain();

            //初始化iCheck
            $('#chkall,#chksynchro').iCheck({
                handle: 'checkbox',
                checkboxClass: 'icheckbox_minimal-green',
                radioClass: 'iradio_minimal-green'
            });
            $('#chkall').on('ifChanged', function (event) {
                var flag = 'uncheck';
                if ($(this).is(':checked')) {//就是这么简单
                    flag = 'check';
                }
                $('#imglst input[type="checkbox"]').iCheck(flag);
            });

        });

        //需要二次加载的js
        function loadAgain() {
            baguetteBox.run('.tz-gallery');

            //初始化iCheck
            $('#imglst input[type="checkbox"]').iCheck({
                handle: 'checkbox',
                checkboxClass: 'icheckbox_minimal-green',
                radioClass: 'iradio_minimal-green'
            });
            $("#imglst .icheckbox_minimal-green").css({ "margin": "-18px 0px 0px -2px", "float": "left" });
            $(".caption").unbind("click");
            //空白区域添加点击事件
            $(".caption").bind("click", function () {
                var $this = $(this).find('input');
                if ($this.is(':checked')) {
                    $this.iCheck('uncheck');
                }
                else {
                    $this.iCheck('check');
                }
            });




            $("#imglst .caption").hover(
function () {
    $(this).find("h3").hide();
    $(this).find(":text").show();
}, function () {
    var text = $(this).find(":text");
    var h3 = $(this).find("h3");
    text.hide();
    h3.show();
    if ($.trim(text.val()) != '') {
        h3.text(subString1(text.val(), 16));
        h3.attr("title", text.val());
    }

});

            $("#imglst input[type='text']").bind('focus', function () {
                $(this).select();
            })

        }

        //加载本机盘符及大小
        function loadDist() {
            var strhtm = '';
            $.ajax({
                url: "/Canchong/PicHourse/GetDriveJson",
                //data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {

                    $.each(data, function (idx, obj) {
                        var color = getColor(idx, 0);
                        if (idx < 5) {
                            strhtm += '<div id="dash' + idx + '" class="dashboard-stats">';
                            strhtm += '<div class="dashboard-stats-item" style="background-color: ' + color + ';">';
                            strhtm += '<h4 class="m-top-none">' + obj.Item1 + '</h4>';
                            strhtm += '<h5>可用空间：' + obj.Item2 + '</h5>';
                            strhtm += '<div class="stat-icon"> ';
                            strhtm += '<i class="fa fa-hdd-o fa-2x"></i>';
                            strhtm += '</div>';
                            strhtm += '</div>';
                            strhtm += '</div>';
                        }

                    });
                    $("#dashboardlst").empty().append(strhtm);
                }
            });
        }

        //分配磁盘背景色
        function getColor(idx, type) {
            var color = '';
            switch (idx) {
                case 0:
                    (type == 0) ? color = '#fc8675' : color = "info";
                    break;
                case 1:
                    (type == 0) ? color = '#6bafbd' : color = "primary";
                    break;
                case 2:
                    (type == 0) ? color = '#f3ce85' : color = "warning";

                    break;
                case 3:
                    (type == 0) ? color = '#949FB1' : color = "danger";
                    break;
                case 4:
                    (type == 0) ? color = '#65cea7' : color = "success";
                    break;
                case 6:
                    (type == 0) ? color = '#fc8675' : color = "info";
                    break;
                case 7:
                    (type == 0) ? color = '#6bafbd' : color = "primary";
                    break;
                case 8:
                    (type == 0) ? color = '#f3ce85' : color = "warning";
                    break;
                case 9:
                    (type == 0) ? color = '#949FB1' : color = "danger";
                    break;
                case 10:
                    (type == 0) ? color = '#65cea7' : color = "success";
                    break;
                default:
                    (type == 0) ? color = '#65cea7' : color = "info";
                    break;
            }
            return color;

        }

        // 截取字符串 中英文混合
        function subString1(str, len) {
            var regexp = /[^\x00-\xff]/g;// 正在表达式匹配中文
            // 当字符串字节长度小于指定的字节长度时
            if (str.replace(regexp, "aa").length <= len) {
                return str;
            }
            // 假设指定长度内都是中文
            var m = Math.floor(len / 2);
            for (var i = m, j = str.length; i < j; i++) {
                // 当截取字符串字节长度满足指定的字节长度
                if (str.substring(0, i).replace(regexp, "aa").length >= len) {
                    return str.substring(0, i) + '...';
                }
            }
            return str;
        }

        //加载图片列表，默认10条
        function getImgLst(isEmpty) {
            var dash = $("#currentFolder").text();
            var strhtm = '';
            $.ajax({
                url: "/Canchong/PicHourse/GetImglstJson",
                data: { dash: dash, page: currpage },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.each(data, function (idx, obj) {
                        strhtm += '<div class="col-sm-6 col-md-3">';
                        strhtm += '<div class="thumbnail">';
                        strhtm += '<a class="lightbox" href="' + obj.Item3 + '">';
                        strhtm += '<img src="' + obj.Item3 + '" alt="" style="height: 180px;">';
                        strhtm += '</a>';
                        strhtm += '<div class="caption">';
                        strhtm += ' <input type="text" class="form-control fname" value=' + obj.Item2 + '  />';
                        strhtm += '<h3 data-size="' + obj.Item4 + '" data-type="' + obj.Item5 + '" data-fullname="' + obj.Item2 + '" title="' + obj.Item2 + '">' + subString1(obj.Item2, 16) + '</h3>';
                        strhtm += '<p>文件大小：' + obj.Item4 + '</p>';
                        strhtm += '<input type="checkbox">';
                        strhtm += '</div>';
                        strhtm += '</div>';
                        strhtm += '</div>';
                    });
                    if (isEmpty) {
                        $("#imglst").empty().append(strhtm);
                        if ($.trim(strhtm) == '') {
                            $.modalMsg('该目录暂无图片', 'warning');
                            return;
                        }
                    }
                    else {
                        if ($.trim(strhtm) == '') {
                            $.modalMsg('没有更多了', 'warning');
                            return;
                        }
                        $("#imglst").append(strhtm);

                    }
                    loadAgain();//二次加载
                }
            });
        }

        //加载标签
        function loadBiaoqian() {
            var html = '';
            $.ajax({
                url: "/SystemManage/ItemsData/GetSelectJson",
                data: { enCode: "Category" },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.each(data, function (i) {
                        var index = Math.floor((Math.random() * arrcolor2.length));
                        var color = arrcolor2[index];
                        html += ' <a class="btn btn-' + color + ' btn-xs" href="javascript:void(0)" role="button" data-id="' + data[i]["id"] + '">' + data[i]["text"] + '</a> ';
                    });
                }
            });

            $(".biaoqian").empty().append(html);
        }

        //导入图片
        function btn_add() {
            var dash = $("#currentFolder").text();//获取当前盘符
            var dashid = $("#currentFolder").data("id");
 
            if ($.trim(dashid) == '')
            {
                $.modalMsg('请选择上传磁盘', 'warning');
                return;
            }
            layer.open({
                title: "导入图片",
                type: 2,
                area: ['850px', '550px'],
                fixed: false, //不固定
                maxmin: true,
                content: '/Canchong/PicHourse/Upload?dash=' + dash + '&dashid=' + dashid
            });
        }

    </script>
</body>
</html>
