@{
    ViewBag.Title = "内容编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/layer/layer.js"></script>
<script src="~/Content/js/ueditor/ueditor.config.js"></script>
<script src="~/Content/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/Content/js/ueditor/lang/zh-cn/zh-cn.js"></script>

<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>

<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px; padding:10px">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
            <li><a href="#b" data-toggle="tab">扩展信息</a></li>
            <li><a href="#c" data-toggle="tab">附件信息</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px;">
            <div id="a" class="tab-pane active" style="padding: 15px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">所属栏目</th>
                        <td class="formValue">
                            <select id="F_NodeId" name="F_NodeId" class="form-control">
                                <option value="">==请选择==</option>
                            </select>
                        </td>
                        <th class="formTitle">所属专题</th>
                        <td class="formValue">
                            <select id="F_FeaturesId" name="F_FeaturesId" class="form-control">
                                <option value="">==请选择==</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">标题</th>
                        <td class="formValue" colspan="3">
                            <input id="F_Title" name="F_Title" type="text" class="form-control required" placeholder="请输入标题" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">作者</th>
                        <td class="formValue">
                            <input id="F_Author" name="F_Author" type="text" class="form-control " placeholder="" />

                        </td>
                        <th class="formTitle">来源</th>
                        <td class="formValue">
                            <input id="F_Source" name="F_Source" type="text" class="form-control  " placeholder="" />
                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">是否置顶</th>
                        <td class="formValue">
                            <div class="ckbox">
                                <input id="F_Top" name="F_Top" type="checkbox"><label for="F_Top">置顶</label>
                            </div>

                        </td>
                        <th class="formTitle">是否推荐</th>
                        <td class="formValue">
                            <div class="ckbox">
                                <input id="F_Recommend" name="F_Recommend" type="checkbox"><label for="F_Recommend">推荐</label>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">封面图片</th>
                        <td class="formValue" colspan="2">
                            <input id="F_ImageUrl" name="F_ImageUrl" type="text" class="form-control " placeholder="" />
                        </td>
                        <td><a id="NF-upload" class="btn btn-primary dropdown-text" onclick="btn_upload()"><i style="margin-right:5px" class="fa fa-picture-o"></i>上传图片</a></td>
                    </tr>

                    <tr>
                        <th class="formTitle">跳转路径</th>
                        <td class="formValue" colspan="3">
                            <input id="F_LinkUrl" name="F_LinkUrl" type="text" class="form-control " placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            正文内容
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_Contents" name="F_Contents" class="form-control" style="display:none"></textarea>
                            <script id="editor" type="text/plain" style="width:795px;height:500px;">
                            </script>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="b" class="tab-pane" style="padding: 15px;">

                <table class="form">
                    <tr>
                        <th class="formTitle">副标题</th>
                        <td class="formValue" colspan="3">
                            <input id="F_SubTitle" name="F_SubTitle" type="text" class="form-control " placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">标签</th>
                        <td class="formValue">
                            <input id="F_Tags" name="F_Tags" type="text" class="form-control " placeholder="" />

                        </td>
                        <th class="formTitle">排序号</th>
                        <td class="formValue">
                            <input id="F_SortCode" name="F_SortCode" type="text" class="form-control digits" placeholder="请输入排序号" value="0" />
                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">是否热门</th>
                        <td class="formValue">
                            <div class="ckbox">
                                <input id="F_Hot" name="F_Hot" type="checkbox"><label for="F_Hot">热门</label>
                            </div>
                        </td>

                        <th class="formTitle">登录显示</th>
                        <td class="formValue">
                            <div class="ckbox">
                                <input id="F_LoginFilter" name="F_LoginFilter" type="checkbox"><label for="F_LoginFilter">登录显示</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">创建时间</th>
                        <td class="formValue">

                            <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />

                        </td>

                        <th class="formTitle">创建人</th>
                        <td class="formValue">

                            <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control " placeholder="" style="display:none" />

                            <span id="CreatorUserId"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">最后修改时间</th>
                        <td class="formValue">

                            <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />

                        </td>

                        <th class="formTitle">最后修改人</th>
                        <td class="formValue">
                            <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control " placeholder="" style="display:none" />
                            <span id="LastModifyUserId"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="c" class="tab-pane" style="padding: 15px;">

                <table class="form">

                    <tr>
                        <td class="formValue">
                            <div class="gridPanel">
                                <table id="gridList"></table>
                            </div>

                        </td>
                    </tr>
                    <tr>

                        <td style="text-align:left;padding:15px 0 0 10px">
                            <a id="NF-upload" class="btn btn-primary dropdown-text" onclick="btn_uploadfile('1', '1', '2')"><i class="fa fa-cloud-upload" style="margin-right:5px"></i>上传附件</a>
                            <a id="NF-download" class="btn btn-success dropdown-text" onclick="btn_download()"  style="margin-left:15px"><i class="fa fa-cloud-download" style="margin-right:5px"></i>下载附件</a>
                            <a id="NF-del" class="btn btn-danger dropdown-text" onclick="btn_delete()" style="margin-left:15px"><i class="fa fa-times" style="margin-right:5px"></i>删除附件</a>
                           

                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">

    var ue = UE.getEditor('editor');
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/WebManage/Conents/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }

        var username = getUserName($("#F_CreatorUserId").val());
        var username1 = getUserName($("#F_LastModifyUserId").val());
        $("#CreatorUserId").text(username);
        $("#LastModifyUserId").text(username1);

        ue.ready(function () {//编辑器初始化完成再赋值
            ue.setContent($("#F_Contents").val());  //赋值给UEditor
        });
    });
    //初始化
    function initControl() {
        //绑定栏目
        $("#F_NodeId").bindSelect({
            url: "/WebManage/Nodes/GetParentNodeJson"
        });

        //绑定专题
        $("#F_FeaturesId").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "Features" }
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $("#F_Contents").val(ue.getContent());//把文本编辑器赋值到隐藏控件
        $.submitForm({
            url: "/WebManage/Conents/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    //上传封面
    function btn_upload() {
        layer.open({
            title: "上传图片",
            type: 2,
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: true,
            content: '/Home/Upload'
        });
    }

    //上传附件
    function btn_uploadfile(param1, param2, param3) {

        if (keyValue == undefined || keyValue == "") {
            $.modalMsg("请先保存内容", "warning");
            return;
        }

        var params = '/Home/Upload?upload_multi=' + param1 + '&upload_type=' + param2 + '&upload_btnid=' + param3 + '&tablename=Web_Content&recordid=' + escape(keyValue);
        params = encodeURI(params);
        layer.open({
            title: "上传文件",
            type: 2,
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: true,
            content: params
        });
    }


</script>


<script>
    $(function () {
        gridList();
    })
    function gridList() {

        var strjson = '';
        strjson = '{ "TableName":"Web_Content","TableRecordID":"' + keyValue + '" }';

        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/WebManage/Attachment/GetGridJson",
            height: 260,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '附件名称', name: 'F_FullName', width: 180, align: 'left' },


                { label: '附件路径', name: 'F_FilePath', width: 300, align: 'left' },
                { label: '附件类型', name: 'F_FileType', width: 80, align: 'center' },
                { label: '附件大小', name: 'F_FileSize', width: 80, align: 'center' },
                {
                    label: '创建时间', name: 'F_CreatorTime', width: 100, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                }

            ],
            postData: { queryJson: strjson },
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });


    }

    function btn_delete() {

        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == undefined) {
            $.modalMsg("请选择删除项", "warning");
            return;
        }
        $.deleteForm({
            url: "/WebManage/Attachment/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $("#gridList").trigger("reloadGrid");
            }
        })
    }

    function btn_download() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == undefined) {
            $.modalMsg("请选择下载项", "warning");
            return;
        }
        $.download("/WebManage/Attachment/DownloadBackup", "keyValue=" + keyValue, 'post');
    }
</script>






