@{
    ViewBag.Title = "附件编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/layer/layer.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/WebManage/Attachment/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }


        var username = getUserName($("#F_CreatorUserId").val());
        $("#CreatorUserId").text(username);

    });

    function initControl() {
        //绑定表
        $("#F_TableName").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "TableName" }
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/WebManage/Attachment/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_upload() {
        layer.open({
            title: "上传图片",
            type: 2,
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: true,
            content: '/Home/Upload'
        });
    }
    function btn_uploadfile(param1, param2, param3) {
        layer.open({
            title: "上传文件",
            type: 2,
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: true,
            content: '/Home/Upload?upload_multi=' + param1 + '&upload_type=' + param2 + '&upload_btnid=' + param3
        });
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">附件名称</th>
                    <td class="formValue">
                        <input id="F_FullName" name="F_FullName" type="text" class="form-control " placeholder="默认为文件名" />
                    </td>
                    <th class="formTitle">附件大小</th>
                    <td class="formValue">
                        <input id="F_FileSize" name="F_FileSize" type="text" class="form-control " placeholder="" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">表名</th>
                    <td class="formValue">
                        <select id="F_TableName" name="F_TableName" class="form-control">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                    <th class="formTitle">记录ID</th>
                    <td class="formValue">
                        <input id="F_TableRecordID" name="F_TableRecordID" type="text" class="form-control " placeholder="" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">封面图片</th>
                    <td class="formValue" colspan="3">
                        <div class="input-group" style="width:100%">
                            <input id="F_ImageUrl" name="F_ImageUrl" type="text" class="form-control " placeholder="" />
                            <span class="input-group-btn">
                                <a class="btn  btn-primary" onclick="btn_upload()"><i class="fa fa-ellipsis-h"></i></a>
                            </span>
                        </div>
                    </td>

                    @*<td><a id="NF-upload" class="btn btn-primary dropdown-text" onclick="btn_upload('1', '', '')"><i style="margin-right:5px" class="fa fa-picture-o"></i>上传图片</a></td>*@
                </tr>

                <tr>
                    <th class="formTitle">附件路径</th>
                    <td class="formValue" colspan="3">
                        <div class="input-group" style="width:100%">
                            <input id="F_FilePath" name="F_FilePath" type="text" class="form-control " placeholder="" />
                            <span class="input-group-btn">
                                <a class="btn  btn-primary" onclick="btn_upload('', '1', '1')"><i class="fa fa-ellipsis-h"></i></a>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">是否可用</th>
                    <td class="formValue">
                        <div class="ckbox">
                            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                        </div>
                    </td>
                    <th class="formTitle">排序号</th>
                    <td class="formValue">
                        <input id="F_SortCode" name="F_SortCode" type="text" class="form-control  digits" placeholder="请输入排序号" value="0" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">创建时间</th>
                    <td class="formValue">

                        <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />

                    </td>

                    <th class="formTitle">创建人</th>
                    <td class="formValue">

                        <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control " placeholder="" style="display:none" />

                        <span id="CreatorUserId"></span>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        附件简介
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" class="form-control" style="height: 80px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</form>

