@{
    ViewBag.Title = "附件管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/select2/select2.min.js"></script>

<script>
    $(function () {
        gridList();

        //绑定表
        $("#F_TableName").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "TableName" }
        });

        $("#F_TableName").change(function () {
            $("#btn_search").click();
        });
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/WebManage/Attachment/GetGridJson",
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '附件名称', name: 'F_FullName', width: 120, align: 'left' },
                {
                    label: '所属表名', name: 'F_TableName', width: 80, align: 'center',
                    formatter: function (cellvalue) {
                        return top.clients.dataItems.TableName[cellvalue] == undefined ? "" : top.clients.dataItems.TableName[cellvalue]
                    }
                },
                { label: '记录ID', name: 'F_TableRecordID', width: 200, align: 'left' },
                { label: '附件路径', name: 'F_FilePath', width: 200, align: 'left' },
                { label: '附件类型', name: 'F_FileType', width: 80, align: 'center' },
                { label: '附件大小', name: 'F_FileSize', width: 80, align: 'center' },
                {
                    label: '创建时间', name: 'F_CreatorTime', width: 100, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                }

            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });

        $("#btn_search").click(function () {
            var strjson = '';
            strjson = '{ "keyword":"' + $("#txt_keyword").val() + '" }';
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: strjson },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增附件",
            url: "/WebManage/Attachment/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == undefined) {
            $.modalMsg("请选择编辑项", "warning");
            return;
        }
        $.modalOpen({
            id: "Form",
            title: "修改附件",
            url: "/WebManage/Attachment/Form?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {

        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == undefined) {
            $.modalMsg("请选择删除项", "warning");
            return;
        }
        $.deleteForm({
            url: "/WebManage/Attachment/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == undefined) {
            $.modalMsg("请选择查看项", "warning");
            return;
        }
        $.modalOpen({
            id: "Details",
            title: "查看附件",
            url: "/WebManage/Attachment/Details?keyValue=" + keyValue,
            width: "550px",
            height: "620px",
            btn: null,
        });
    }

    function btn_disabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue != undefined) {
            $.modalConfirm("注：您确定要【禁用】该内容吗？", function (r) {
                if (r) {
                    $.submitForm({
                        url: "/WebManage/Attachment/DisabledConents",
                        param: { keyValue: keyValue },
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");

                        }
                    })
                }
            });
        }
        else {
            $.modalMsg("请选择禁用项", "warning");
        }

    }

    function btn_enabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue != undefined) {
            $.modalConfirm("注：您确定要【启用】该内容吗？", function (r) {
                if (r) {
                    $.submitForm({
                        url: "/WebManage/Attachment/EnabledConents",
                        param: { keyValue: keyValue },
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                        }
                    })
                }
            });
        } else {
            $.modalMsg("请选择启用项", "warning");
        }
    }

    function btn_download() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == undefined) {
            $.modalMsg("请选择下载项", "warning");
            return;
        }
        $.download("/WebManage/Attachment/DownloadBackup", "keyValue=" + keyValue, 'post');
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新增附件</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改附件</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除附件</a></li>
                <li><a id="NF-download" authorize="yes" onclick="btn_download()"><i class="fa fa-cloud-download"></i>下载附件</a></li>
                <li class="split"></li>
                <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                <li><a id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        @*<script>$('.toolbar').authorizeButton()</script>*@
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入关键词" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>

                <td style="padding-left:15px; font-weight:600">
                    所属表：
                </td>
                <td style="width:150px">
                    <select id="F_TableName" name="F_TableName" class="form-control">
                        <option value="">==请选择==</option>
                    </select>
                </td>


                @*<td style="padding-left:15px; font-weight:600">
                        记录ID：
                    </td>
                    <td style="width:150px">
                        <input id="txt_RecordID" type="text" class="form-control" placeholder="请输入记录ID" style="width: 150px; height:unset">
                    </td>*@
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
